module {{.Name}}

go 1.13

require (
    gitlab.com/firerocksg/xy3-kratos master
    github.com/gogo/googleapis v1.4.0
    github.com/gogo/protobuf v1.3.1
    github.com/google/wire v0.4.0
    google.golang.org/grpc v1.28.1
)

