package api
import (
	"context"
	"fmt"

	"gitlab.com/firerocksg/xy3-kratos/pkg/net/rpc/warden"

	"google.golang.org/grpc"
)

// AppID .
const AppID = "TODO: ADD APP ID"

// NewClient new grpc client
func NewClient(cfg *warden.ClientConfig, opts ...grpc.DialOption) (DemoClient, error) {
	client := warden.NewClient(cfg, opts...)
    //cc, err := client.Dial(context.Background(), fmt.Sprintf("discovery://default/%s", AppID))
    cc, err := client.Dial(context.Background(), "direct://default/127.0.0.1:9000")
	//cc, err := client.Dial(context.Background(), "kubernetes://{namespace}/{servicename}:{portname}")
	if err != nil {
        fmt.Printf("ERROR!: %s init faild",AppID)
		return nil, err
	}
	return NewDemoClient(cc), nil
}

// 生成 gRPC 代码
//go:generate kratos tool protoc --grpc --gin api.proto
